@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("./reset.css");
@import url("./responsive.css");

:root {
	--body-bg: radial-gradient(circle at 50% 50%, #201f30, #030712);
	--text-primary: #ffffff;
	--text-secondary: #ffffff8a;

	--glass-bg: rgba(255, 255, 255, 0.03);
	--glass-border: 1px solid rgba(255, 255, 255, 0.05);
	--glass-hover: rgba(255, 255, 255, 0.1);
	--button-active: radial-gradient(circle at 10% 50%, rgba(139, 147, 255, 0.562), rgba(92, 91, 91, 0.11));
	--radius: 5px;
	--speed: 0.3s all ease-in-out;
	/* Project span color */
	--badge-clr: #333;
}

/*----- UTİLİTY START -----*/
/* AYnı satırları tekrar eden kod blokları için yapılmaktadır. */
:where(body, .profile__info, .social__links, .social__link-item a) {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*----- UTİLİTY START -----*/

body {
	font-family: "Poppins", sans-serif;
	background: var(--body-bg);
	color: #fff;
	min-height: 100vh;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	position: relative;
	padding: 1rem;
}

/* SİDE BAR START */
.side__bar {
	flex: 25%;
	border: var(--glass-border);
	background: var(--glass-bg);
	padding: 1rem;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-right: none;
	border-radius: var(--radius) 0 0 var(--radius);
}

.profile__info {
	flex-direction: column;
}

.profile__info .img__wrapper {
	max-width: 300px;
	border: var(--glass-border);
	border-radius: 50%;
}

.img__wrapper img {
	border-radius: inherit;
	object-fit: cover;
}

header h1 {
	font-size: 3rem;
}

header .title {
	font-size: 1.6rem;
	letter-spacing: 1px;
	text-align: center;
	color: var(--text-secondary);
}

.social__links {
	gap: 1rem;
	margin: 1rem 0;
}

.social__link-item a {
	border: var(--glass-border);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition: var(--speed);
	background: var(--glass-bg);
}

.social__link-item a:hover {
	background: var(--glass-hover);
}

.social__link-item a i {
	font-size: 1.8rem;
	color: var(--text-primary);
	transition: var(--speed);
}

.social__link-item a:hover i {
	transform: scale(1.2);
}

.tab_button {
	font-family: inherit;
	text-align: start;
	width: 100%;
	border: none;
	background: none;
	color: var(--text-secondary);
	font-size: 1.5rem;
	padding: 1rem;
	margin: 0.4rem 0;
	border-radius: var(--radius);
	cursor: pointer;
	transition: var(--speed);
}

.tab_button:hover {
	background: var(--glass-bg);
	color: var(--text-primary);
}

.tab_button.active {
	background: radial-gradient(circle at 10% 50%, rgba(139, 147, 255, 0.562), rgba(92, 91, 91, 0.11));
	color: var(--text-primary);
}

/*---------- MAİN START ----------*/

.main {
	border: var(--glass-border);
	border-radius: 0 var(--radius) var(--radius) 0;
	flex: 75%;
	padding: 1rem;
	background: var(--glass-bg);
	overflow-x: hidden;
	/* scroll bar */
	height: 700px;
	overflow-y: auto;
	scrollbar-width: thin;
}

.main::-webkit-scrollbar {
	width: 4px;
}

/* Arka plan yolu */
.main::-webkit-scrollbar-track {
	background: var(--glass-bg);
	border-radius: var(--radius);
}

.main::-webkit-scrollbar-thumb {
	background: var(--text-secondary);
	border-radius: var(--radius);
}

/*----- HOME -----*/
#home {
	display: none;
}

.home__wrapper {
	align-items: center;
	justify-content: space-between;
	display: flex;
	gap: 1rem;
	padding: 1rem;
	margin-top: 10rem;
}

.home__title {
	display: flex;
	flex-direction: column;
	color: var(--text-secondary);
}

.home__title p {
	font-size: 1.5rem;
}

.home__title h2 {
	font-size: 3rem;
	color: var(--text-primary);
}

.home__title h3 {
	font-size: 2rem;
}

.home__title span {
	font-size: 2.5rem;
	font-weight: 100;
	border: var(--glass-border);
	padding: 1rem;
	border-radius: var(--radius);
	background: var(--glass-bg);
	color: var(--text-primary);
	margin-top: 2rem;
	letter-spacing: 2px;
}

.home__img img {
	max-width: 400px;
	width: 100%;
	border: var(--glass-border);
	border-radius: var(--radius);
}

/*----- ABOUT -----*/
#about {
	display: none;
	animation: fkc 1s;
}

#about h2,
#projects h2,
#experience h2,
#competencies h2,
#contact h2 {
	background: var(--button-active);
	border: 1px solid rgba(128, 128, 128, 0.123);
	padding: 0.5rem;
	font-size: 2rem;
	text-align: center;
	border-radius: var(--radius);
	margin-bottom: 2rem;
	text-transform: capitalize;
}

.about__list {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.about__list li {
	background: var(--glass-bg);
	padding: 1rem;
	font-size: 1.3rem;
	border-radius: var(--radius);
	color: var(--text-secondary);
	border-left: 2px solid rgb(255, 255, 255);
	border-right: 2px solid rgb(255, 255, 255);
	transition: var(--speed);
}

.about__list li:hover {
	background: var(--glass-hover);
	transform: translate(5px);
}

.about__list h3 {
	text-align: center;
	font-size: 1.5rem;
	background: rgba(2, 2, 2, 0.3);
	border-radius: var(--radius);
}

/*----- PROJECTS -----*/
#projects {
	display: none;
	animation: fkc 1s;
}

.projets__card-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

.project__card {
	border: 1px solid rgba(255, 251, 251, 0.075);
	border-radius: var(--radius);
	background: var(--glass-bg);
	color: var(--text-primary);
	display: flex;
	gap: 1rem;
}

.project__img-wrapper {
	padding: 1rem;
}

.project__img-wrapper img {
	width: 300px;
	height: 150px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.514);
	object-fit: cover;
	border-radius: 20px;
	border: var(--glass-border);
	transition: var(--speed);
}

.project__img-wrapper:hover img {
	transform: scale(1.05);
}



.project__card h3 {
	font-size: 1.9rem;
	text-transform: capitalize;
}

.card__info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1rem;
}

.card__info span {
	border: 1px solid grey;
	padding: 0.1rem 1rem;
	border-radius: var(--radius);
	margin: 0.2rem;
	color: var(--badge-clr);
	border-color: var(--badge-clr);
	background: rgb(from var(--badge-clr) r g b /0.1);
	font-weight: 700;
	font-size: 0.9rem;
	text-transform: uppercase;
	user-select: none;
}

.html {
	--badge-clr: #e34c26;
}

.css {
	--badge-clr: #569cd6;
}

.js {
	--badge-clr: #f1e05a;
}


.card__actions {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.card__actions a {
	border: var(--glass-border);
	background: rgba(3, 7, 255, 0.007);
	font-size: 1.3rem;
	color: inherit;
	padding: 0.1rem 1rem;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: var(--radius);
	text-transform: capitalize;
	transition: var(--speed);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.479) inset;
}

.card__actions a:hover {
	background: rgba(0, 204, 255, 0.178);
}

.card__actions a:active {
	background: rgba(0, 204, 255, 0.315);
}



/* EXPERİNCE */
#experience {
	display: none;
	animation: fkc 1s;
}

.experience__wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.work__card {
	border: var(--glass-border);
	padding: 1rem;
	background: var(--glass-bg);
	border-radius: var(--radius);
}

.work__card h3 {
	font-size: 2.2rem;
	color: var(--text-primary);
}

.work__card span {
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
	margin: 0.5rem 0;
	display: inline-block;
}

.work__card p {
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
	margin: 0.5rem 0;
	color: var(--text-secondary);
	letter-spacing: 0.2px;
	font-weight: 400;
	border: var(--glass-border);
	border-radius: var(--radius);
	padding: 0.2rem 1rem;
	display: flex;
}

/* Competencies */
#competencies {
	display: none;
	animation: fkc 1s;
}

.languages {
	display: flex;
	align-items: center;
	justify-content: end;
	flex-wrap: wrap;
	gap: 2rem;
	border: var(--glass-border);
	padding: 1rem;
	background: var(--glass-bg);
	border-radius: var(--radius);
}

.languages img {
	max-width: 50px;
	filter: grayscale(1);
	transition: var(--speed);
}

.languages img:hover {

	filter: grayscale(0);

}

.competencies__info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
	margin: 1rem 0;
}

.competencies__info li {
	border: var(--glass-border);
	font-size: 1.4rem;
	padding: 0.4rem;
	color: var(--text-secondary);
	border-radius: var(--radius);
	transition: var(--speed);
}

.competencies__info li:hover {
	transform: translateY(2px);
}

.line {
	width: 100%;
	height: 2px;
	background: #ffffff41;
	margin: 2rem 0;
}

/* CONTACT */
#contact {
	display: none;
	animation: fkc 1s;
}

.contact__links {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex-wrap: wrap;
}

.contact__links a {
	font-size: 1.5rem;
	border: var(--glass-border);
	background: var(--glass-bg);
	color: var(--text-primary);
	padding: 0.5rem 1rem;
	border-radius: var(--radius);
	text-transform: capitalize;
	text-align: center;
	transition: var(--speed);
}

.contact__links a:nth-child(1):hover {
	background: rgba(125, 248, 125, 0.336);
}

.contact__links a:nth-child(2):hover {
	background: rgba(125, 219, 248, 0.336);
}

.contact__links a:nth-child(3):hover {
	background: rgba(238, 125, 248, 0.336);
}

.contact__links a:nth-child(4):hover {
	background: rgba(125, 144, 248, 0.336);
}

.contact__links a:nth-child(5):hover {
	background: rgba(248, 125, 125, 0.336);
}

.show {
	display: block !important;
}

@keyframes fkc {
	0% {
		transform: translateY(20px);
		opacity: 0;
		/* filter: blur(10px); */
		/* Gelirken hafif bulanık gelmesi cam etkisini artırır */
	}

	60% {
		transform: translateY(-10px);
		/* Hafifçe yerini aşsın (esneme) */
		opacity: 1;
		/* filter: blur(0); */
	}

	100% {
		transform: translateY(0);
		/* Tam yerine otursun */
	}
}